[build]
  command = "npm run build && cd netlify/functions && pnpm install"
  publish = "dist"
  functions = "netlify/functions"

[build.environment]
  NODE_VERSION = "18"

########################################
# CrypDNA Global Vault Region Routing
########################################

# UAE (AE)
[[redirects]]
  from = "/"
  to = "/vaults/ae/"
  status = 200
  force = true
  conditions = { Host = ["ae.crypdawgs.com"] }

# Argentina (AR)
[[redirects]]
  from = "/"
  to = "/vaults/ar/"
  status = 200
  force = true
  conditions = { Host = ["ar.crypdawgs.com"] }

# Australia (AU)
[[redirects]]
  from = "/"
  to = "/vaults/au/"
  status = 200
  force = true
  conditions = { Host = ["au.crypdawgs.com"] }

# Brazil (BR)
[[redirects]]
  from = "/"
  to = "/vaults/br/"
  status = 200
  force = true
  conditions = { Host = ["br.crypdawgs.com"] }

# Canada (CA)
[[redirects]]
  from = "/"
  to = "/vaults/ca/"
  status = 200
  force = true
  conditions = { Host = ["ca.crypdawgs.com"] }

# Colombia (CO)
[[redirects]]
  from = "/"
  to = "/vaults/co/"
  status = 200
  force = true
  conditions = { Host = ["co.crypdawgs.com"] }

# Germany (DE)
[[redirects]]
  from = "/"
  to = "/vaults/de/"
  status = 200
  force = true
  conditions = { Host = ["de.crypdawgs.com"] }

# Denmark (DK)
[[redirects]]
  from = "/"
  to = "/vaults/dk/"
  status = 200
  force = true
  conditions = { Host = ["dk.crypdawgs.com"] }

# Spain (ES)
[[redirects]]
  from = "/"
  to = "/vaults/es/"
  status = 200
  force = true
  conditions = { Host = ["es.crypdawgs.com"] }

# France (FR)
[[redirects]]
  from = "/"
  to = "/vaults/fr/"
  status = 200
  force = true
  conditions = { Host = ["fr.crypdawgs.com"] }

# Hong Kong (HK)
[[redirects]]
  from = "/"
  to = "/vaults/hk/"
  status = 200
  force = true
  conditions = { Host = ["hk.crypdawgs.com"] }

# India (IN)
[[redirects]]
  from = "/"
  to = "/vaults/in/"
  status = 200
  force = true
  conditions = { Host = ["in.crypdawgs.com"] }

# Italy (IT)
[[redirects]]
  from = "/"
  to = "/vaults/it/"
  status = 200
  force = true
  conditions = { Host = ["it.crypdawgs.com"] }

# Japan (JP)
[[redirects]]
  from = "/"
  to = "/vaults/jp/"
  status = 200
  force = true
  conditions = { Host = ["jp.crypdawgs.com"] }

# Kenya (KE)
[[redirects]]
  from = "/"
  to = "/vaults/ke/"
  status = 200
  force = true
  conditions = { Host = ["ke.crypdawgs.com"] }

# South Korea (KR)
[[redirects]]
  from = "/"
  to = "/vaults/kr/"
  status = 200
  force = true
  conditions = { Host = ["kr.crypdawgs.com"] }

# Mexico (MX)
[[redirects]]
  from = "/"
  to = "/vaults/mx/"
  status = 200
  force = true
  conditions = { Host = ["mx.crypdawgs.com"] }

# Nigeria (NG)
[[redirects]]
  from = "/"
  to = "/vaults/ng/"
  status = 200
  force = true
  conditions = { Host = ["ng.crypdawgs.com"] }

# Netherlands (NL)
[[redirects]]
  from = "/"
  to = "/vaults/nl/"
  status = 200
  force = true
  conditions = { Host = ["nl.crypdawgs.com"] }

# New Zealand (NZ)
[[redirects]]
  from = "/"
  to = "/vaults/nz/"
  status = 200
  force = true
  conditions = { Host = ["nz.crypdawgs.com"] }

# Philippines (PH)
[[redirects]]
  from = "/"
  to = "/vaults/ph/"
  status = 200
  force = true
  conditions = { Host = ["ph.crypdawgs.com"] }

# Qatar (QA)
[[redirects]]
  from = "/"
  to = "/vaults/qa/"
  status = 200
  force = true
  conditions = { Host = ["qa.crypdawgs.com"] }

# Singapore (SG)
[[redirects]]
  from = "/"
  to = "/vaults/sg/"
  status = 200
  force = true
  conditions = { Host = ["sg.crypdawgs.com"] }

# South Africa (ZA)
[[redirects]]
  from = "/"
  to = "/vaults/za/"
  status = 200
  force = true
  conditions = { Host = ["za.crypdawgs.com"] }

# United Kingdom (UK)
[[redirects]]
  from = "/"
  to = "/vaults/uk/"
  status = 200
  force = true
  conditions = { Host = ["uk.crypdawgs.com"] }


[[redirects]]
  from = "/*"
  to = "/index.html"
  status = 200

[functions]
  node_bundler = "esbuild"
